<h4 class="text-xs-center">Starter App</h4>
<div class="container-fluid">
  <div class="row">
    <!--{{HomeCtrl.allSets['innas-mantra']}}-->
  <!--<top-items slots="HomeCtrl.allSets[HomeCtrl.testSet][5].popularItemBuild">-->
    <div class="col-sm-3">
      <div class="thumbnail">
        <div class="thumbnail icon-portrait icon-frame"> 
          <img class="img-responsive img-center" src="js/characters/monk_male.png">
        </div>
      </div>
      <div xmlns="http://www.w3.org/1999/xhtml" class="section-header has-icon">
        <h3 class="header-3">sets</h3>
        <span class="icon sword"></span>
      </div>
      <ul>
        <li ng-repeat="set in HomeCtrl.allSets">
          <a href="#" ng-click="HomeCtrl.selectSet(set.slug)">{{set.name}}</a>
        </li>
      </ul>
    </div>
    
    <div class="col-sm-9">
      <div ng-repeat="set in HomeCtrl.popularItems track by $index">
        <item-set items="set.items"></item-set>
        <skill-set ng-repeat="skills in set.popularSkills" skills="skills.skillList"></skill-set>
      </div>
    </div>
  </div>
</div>
