<div class="container-fluid">
  <!--<div class="home-container">
    <div class="home-divider">
      <div class="thumbnail">
        <div class="thumbnail icon-portrait icon-frame"> 
          <img class="img-responsive img-center" src="js/characters/monk_male.png">
        </div>
      </div>
      <div xmlns="http://www.w3.org/1999/xhtml" class="section-header has-icon">
        <h3 class="header-3">sets</h3>
        <span class="icon sword"></span>
      </div>
      <ul>
        <li ng-repeat="set in HomeCtrl.allSets">
          <a href="#" ng-click="HomeCtrl.selectSet(set.slug)">{{set.name}}</a>
        </li>
      </ul>
    </div>
    
    <div class="home-divider">
      <div ng-repeat="setData in HomeCtrl.popularItems track by $index">
        <player-set set-data="setData">
      </div>
    </div>
  </div>-->
</div>
