<div class="row row-eq-height">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" ng-repeat="(key, items) in TopItemsCtrl.slots">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{key}}</h4>
      </div>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item" ng-repeat="item in items">
            <item-icon
              icon-id="{{item.icon}}"
              color="{{item.displayColor}}"
              size="small"></item-icon>
            {{item.name}} || {{item.count}}
          </li>
        </ul>
    </div>
  </div>
</div>